@* this functions sort of like a "using" statement, tells application to reference this db when "model" is called *@
@model wardrobeProject_test1.Models.Tops

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Are you sure you want to delete this?</h3>
<div>
 
    <hr />
 

    <div class="row text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
    </div>

    @* .BeginForm is a helper extension of the formExtensions class *@
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 

             | @Html.ActionLink("Back to List", "ManageTops")
            
        </div>
    }
</div>
