@{
    ViewBag.Title = "Home Page";

}
@Html.Partial("_HeaderNavBarPartial")

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>DON'T BE NAKED</h1>
                    @*<h3>A Template by Start Bootstrap</h3>
                    <hr class="intro-divider">*@
                   
                </div>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Pick Some Clothes</h2>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <a href='@Url.Action("Index","Tops")' ><img src="http://placehold.it/200x200" alt="" class="img-circle img-responsive img-center"/> </a>          
                <h3>
                    Tops                  
                </h3>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>
                    Bottoms
                    
                </h3>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>
                    Shoes
                    
                </h3>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>
                    Accessories
                   
                </h3>
            </div>
        
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->


