
@{
    ViewBag.Title = "ImageView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ImageView</h2>

    [Required]
    public string Title { get; set; }

    public string AltText { get; set; }

    [DataType(DataType.Html)]
    public string Caption { get; set; }

    [DataType(DataType.Upload)]
    HttpPostedFileBase ImageUpload { get; set; }

